$color: #27ae60;

// @import "reset";
@import "mixin";
// @import "grid";
// @import "form";

@import "bootstrap";
@import "site";
@import "data-tip";
@import "font-face";
@import "variables";
@import "loading-bar";

// .btn {
// 	@include btn();
// }
// .clearfix {
// 	@include clearfix();
// }

@keyframes rotateCircleBack {
  0% {
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }

  100% {
    transform-origin: 50% 50%;
    transform: rotate(45deg);
  }
}

@keyframes loadTween {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateX(-180deg);
  }
}

@keyframes xRightMatrixR {
    0% {
        opacity: 0;
        transform: translateX(50px) rotate(30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translateX(50px) rotate(30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes xLeftMatrixR {
    0% {
        opacity: 0;
        transform: translateX(-50px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translateX(-50px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load5 {
    0% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load4 {
    0% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load3 {
    0% {
        opacity: 0;
        transform: translate(-30px,-30px) rotate(30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(-30px,-30px) rotate(30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load2 {
    0% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(-30px,30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load1 {
    0% {
        opacity: 0;
        transform: translate(30px,30px) rotate(30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(30px,30px) rotate(30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes Load0 {
    0% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }
    20% {
        opacity: 0;
        transform: translate(30px,-30px) rotate(-30deg) scale(1.5, 1.5);
    }

    80% {
        opacity: 1;
        transform: translate(0,0) rotate(0deg) scale(1, 1);
    }
}

@keyframes alphaTo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.yoyo-x-right{
    animation: xRightMatrixR 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}
.yoyo-x-left{
    animation: xLeftMatrixR 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}

.yoyo-load0{
    animation: Load0 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}
.yoyo-load1{
    animation: Load1 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}
.yoyo-load2{
    animation: Load2 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}
.yoyo-load3{
    animation: Load3 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}
.yoyo-load4{
    animation: Load4 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}
.yoyo-load5{
    animation: Load5 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}


.load-main-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.95);
    transform-origin: 0 0;
    z-index: 2;
    top:0;
    left:0;
}

.load-box {
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  width: 140px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70px;
  margin-top: -40px;
  z-index: 99;
  animation: alphaTo .3s ease-out;
  -webkit-animation: alphaTo .3s ease-out;
  font-size: 22px;
  color: #6EB4E0;
  text-align: center;
  font-family: "Raleway","Helvetica Neue",Helvetica,"Lantinghei SC","Microsoft YaHei","微软雅黑","Hiragino Sans GB",SimSun,sans-serif;
}

.load-box .logo {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: block;
  width: 44px;
  height: 44px;
  margin: auto;
  animation: loadTween 2S cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  -webkit-animation: loadTween 2S cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;;
}
.load-box span {
  display: inline-block;
}
.load-box span > p {
  float: left;
}
.load-main-box .load-bar {
  width: 0%;
  height: 2px;
  background: #6EB4E0;
  transition: width .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: width .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);;
}
.load-out {
  -webkit-animation: alphaOut .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  animation: alphaOut .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.logo {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    padding: 4px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",sans-serif;
    color: #6EB4E0;
    background: #6EB4E0;
    border-radius: 4px;
    transform: rotate(45deg);
    // transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    // animation: rotateCircleBack 0.6s 1 ease-in-out;

    &:before {
        content: '';
        position: absolute;
        left: 10px;
        top: 21px;
        width: 24px;
        height: 2px;
        background: #F0776F;
        border-radius: 4px;
    }

    &:after {
        content: '';
        position: absolute;
        left: 21px;
        top: 10px;
        width: 2px;
        height: 24px;
        background: #F0776F;
        border-radius: 4px;
    }

    span {
        display: block;
        width: 36px;
        height: 36px;
        background: #fff;
        border-radius: 4px;
    }
}

.btn-clipboard {
	position: absolute !important;

	&:hover {
		color: #fff;
		background: $color;
	}
}

.data-tip.data-tip-top:before, 
[data-tip].data-tip-top:before {
	border-top-color: #000;
}
.data-tip.data-tip-top:after, 
[data-tip].data-tip-top:after {
	background: #000;
	border-radius: 5px;
}

@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}
@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}
@keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}
@keyframes slideInRight {
    from {
        transform:translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideInUp {
    from {
        transform:translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fadeIn {
	from {
        opacity: .75;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
	from {
        opacity: 1;
    }
    to {
        opacity: .75;
    }
}
.ng-enter {
    z-index: 8888;
}
.ng-leave {
    z-index: 9999;
}
.page.ng-enter {
    animation: scaleUp 0.5s both ease-in;
}
.page.ng-leave {
    transform-origin: 0% 0%;
    animation: rotateFall 1s both ease-in;
}
.list.ng-enter {
    animation:fadeIn 0.5s both ease-in;
}
.list.ng-leave {
    animation:fadeOut 0.5s both ease-in;
}

.layer-title {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px 2px 0 0;
    cursor: move;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #8E0707;
    text-align: center;
}

.layer-close {
    position: absolute;
}

.layer-ico {
    background: url(../images/icon.png) no-repeat;
}

.layer-setwin {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 0;
    line-height: initial;
}

.layer-setwin a {
    position: relative;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.layer-setwin .layer-min cite {
    position: absolute;
    width: 14px;
    height: 2px;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: #2E2D3C;
    cursor: pointer;
}

.layer-setwin .layer-max {
    background-position: -32px -40px;
}

.layer-setwin .layer-close1 {
    background-position: 0 -40px;
    cursor: pointer;
}

.max-iframe {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: auto;
}

.close-iframe {
    display: none !important;
}

#back-to-top {
    display: block;
    opacity: 0;
    bottom: -30px;
    z-index: 9999;
    transition: all .3s;
    background: $color;
    @include opacity(.6);
}

#back-to-top.active {
    bottom: 10px;
}
#back-to-top:hover {
    @include opacity(1);
}
#loading-bar .bar {
    background: #2c3e50;
}
#loading-bar .peg {
    box-shadow: 0 0 10px #2c3e50, 0 0 5px #2c3e50;
}
#loading-bar-spinner .spinner-icon {
    border-top-color:  #2c3e50;
    border-left-color: #2c3e50;
}
@keyframes sidebar {
  to {
    background-position: 100% 100%;
  }
}
.sidebar {
    width: 320px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1040;
    box-shadow: none;
    background-image: linear-gradient(135deg,#79FF9B,#6BA5FF,#5A66FB,#E034FF,#BCFF58,#58FFE6,#6E58FF);
    background-size: 500px;
    background-position: 0 0;
    transform: translateX(100%);
    transition: all .3s;
    animation: sidebar 16s linear infinite alternate;
}
.sidebar.sidebar-active {
    display: block;
    box-shadow: 0 2px 6px #79FF9B;
    transform: translateX(0);
}
body {
    transition: padding-right .3s;
}
body.sidebar-active {
    padding-right: 320px;
}
.sidebar-toggle {
    position: fixed;
    right: 10px;
    bottom: 45px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: $color;
    @include opacity(.6);
    line-height: 0;
    z-index: 1050;
    cursor: pointer;
    border-radius: 2px;
    transform: translateZ(0);
    transition: all .3s;

    &:hover {
        background: $color;
        @include opacity(1);
    }
    
    .sidebar-toggle-line {
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 2px;
        width: 100%;
        background: #fff;
        margin: 2px 0;
        transition: all .3s;
    }
    .sidebar-toggle-line-first {
        top: 0px;
        transform: rotateZ(0deg);
        width: 100%;
        opacity: 1;
        left: 0px;
    }
    .sidebar-toggle-line-middle {
        top: 0px;
        transform: rotateZ(0deg);
        width: 100%;
        opacity: 1;
        left: 0px;
    }
    .sidebar-toggle-line-last {
        top: 0px;
        transform: rotateZ(0deg);
        width: 100%;
        opacity: 1;
        left: 0px;
    }

    &.active .sidebar-toggle-line-first,
    &.active:hover .sidebar-toggle-line-first {
        top: 6px;
        transform: rotateZ(-45deg);
        width: 100%;
        opacity: 1;
        left: 0px;
    }
    &.active .sidebar-toggle-line-middle,
    &.active:hover .sidebar-toggle-line-middle {
        opacity: 0;
        width: 90%;
        left: 0px;
        top: 0px;
        transform: rotateZ(0deg);
    }
    &.active .sidebar-toggle-line-last,
    &.active:hover .sidebar-toggle-line-last {
        top: -6px;
        transform: rotateZ(45deg);
        width: 100%;
        opacity: 1;
        left: 0px;   
    }
    &:hover .sidebar-toggle-line-first {
        top: 2px;
        width: 50%;
        transform: rotateZ(-45deg);
    }
    &:hover .sidebar-toggle-line-middle {
        width: 90%;
    }
    &:hover .sidebar-toggle-line-last {
        top: -2px;
        width: 50%;
        transform: rotateZ(45deg);
    }
}
.sidebar-inner {
    position: relative;
    padding: 20px 10px;
    color: #fff;
    text-align: center;

    .search {
        border: 2px solid $color;
        box-shadow: none;
        font-size: 16px;
        padding: 13px 30px;
        border-radius: 0;
        height: auto;
        text-align: center;
    }
}
.color-picker {
    display: block;

    a {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 8px;
        text-indent: -9999px;
    }
    .color-red {
        background: #e91b23;
    }
    .color-violet {
        background: #563d7c;
    }
    .color-blue {
        background: #59b2e5;
    }
    .color-green {
        background: #8ec449;
    }
    .color-yellow {
        background: #f1c40f;
    }
    .color-orange {
        background: #d35400;
    }
}
.rating {
    display: inline-block;
    color: #a9a9a9;
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        display: inline-block;
        padding: 1px;
        text-align: center;
        font-size: 14px;  
        font-weight: bold;
        cursor: pointer;
    }

    .filled {
        color: #ffee33;
    }
}